
body{
    background-color:orange;
}
#titulo1{
    background-color:wheat;
    text-align: center;
    height: auto;
    width: 100%;
}

#al{
    width: 20%;
    height: 20%;
    
}
#tt{
    width: 10%;
    height: 10%;
}
#titulo2{
    background-color: white;
    text-align: center;
    height: 100%;
    width: auto;
    line-height: 20px;
    text-decoration-color: orange;   
}
#p1{
    width: 10%;
    height: 10%;
}
#imagem1{
    width: 100%;
    height: auto;
}
#p2{
    height: 10%;
    width: 10%;
}
#img2{
    width: auto;
    height: 50%;
}
#paragrafo1{
    text-align: center;
}
#titulo3{
    background-color:white;
    text-align: center;
    height: auto;
    width:100% ;
    line-height: 10px;
}
#img3{
    width: auto;
    height: 50%;
}
#t4{
    background-color: white;
    text-align: center;
    width: auto;
}
#img4{
    height:50%;
    width: auto;
}
#t5{
    background-color: white;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 50px;
}
#img5{
    height: 50%;
    width: auto;
}
#t6{
    background-color: white;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 50px;
}
#img6{
    height: auto;
    width: 100%;
}
#T7{
    background-color: white;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 50px;
    
}
#img7{
    height: auto;
    width: 50%;
}
#T8{
    background-color: white;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 40px;

}
#img8{
    height: auto;
    width: 50%;
}
#t9{
    background-color: white;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 40px;
}
#img9{
    height: auto;
    width: 50%;
}
#t10{
    background-color: WHITE;
    text-align: center;
    height: auto;
    width: 100%;
    line-height: 50px;
}
#img10{
    height: auto;
    width: 50%;
}
#t11{
    background-color: white;
    text-align: center;
    height: auto;
    width:100% ;
    line-height: 50px;
    ;
}
#img11{
    height: auto;
    width: 50%;
}
#RR{
    text-align: center;
    width: 100%;
    height: 20%;
}
#IMG12{
    height: 20%;
    width: 20%;

}

